apiVersion: v1
kind: Service
metadata:
  name: website-lb
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: gocontainer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: website
spec:
  replicas: 3
  selector:
    matchLabels:
      app: gocontainer
  template:
    metadata:
      labels:
        app: gocontainer
    spec:
      containers:
      - name: website
        image: ajithreddydocker/webiteapp:mywebfreela
        ports:
        - containerPort: 8080
